<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
    <tr>
        <td style="font-size: 18px; text-align: center">
            Your account was deleted from this <a href="{{frontUrl}}">website</a>
        </td>
    </tr>
</table>